<% @title = "共有アルバム作成の完了" %>
おめでとうございます！共有アルバムができあがりました。
<img src="/images/line.gif" /><br />
<div style="text-align:center">
<%= link_to "管理ページへ", :action=>"info", :party_key => @party.key %>
<div style="color:red">※クリックした先のページを必ずブックマークしてください。</div>
</div>
<img src="/images/line.gif" /><br />
