<%=h @inquiry.name %>様

こんにちは、Smillie 事務局です。
お問い合わせ受け付けました。

-----------------------------
■ お名前
<%=h @inquiry.name %>

■ メールアドレス
<%=h @inquiry.email %>

■ お問い合わせ内容
<%=h @inquiry.body %>

-----------------------------

確認のうえ、担当者よりご連絡させていただきます。
よろしくお願いいたします。

---------------------------
URL  : http://smillie.jp/
運営 : tinymonks
