お問い合わせ受け付けました。

-----------------------------
■ お名前
<%=h @inquiry.name %>

■ メールアドレス
<%=h @inquiry.email %>

■ お問い合わせ内容
<%=h @inquiry.body %>

---------------------------
URL  : http://smillie.jp/
運営 : tinymonks
