<% @title = "ご利用者の声" %>
<div id="casestudy">
<h3>音楽イベント : minamo music jamboree</h3>

<img src="/images/casestudy/music_01.jpg" class="case_image" />

<p class="about">2008 年 4 月におこなわれた屋外音楽イベント「<a href="http://minamomusic.cocolog-nifty.com/blog/" target="_blank">minamo music jamboree</a>」の会場で Smillie! をご利用いただきました！</p>

<h4>主催者からのメッセージ</h4>
<p class="body">minamo music jamboreeは、それぞれにライブやDJイベント等の音楽活動をしている15の団体が集まり、出演者を合わせて100人以上の人間が、お客さんを含めれば300人超の人々が、多摩川の河川敷に集まる音楽フェスです。お客さんの視点、スタッフの視点、そして演奏者の視点と、色んな視点から見たフェスの景色を、皆で共有出来ることが、スタッフもお客さんも一つになる、「君と誰かを繋ぐ、でっかい渦」というminamoのコンセプトとがっちり合って、非常に素敵なアルバムが出来あがったと思います。
</p>

<div class="submit signup"><%= link_to "<span>無料のスライドショーを今すぐ使う</span>", :controller=>"parties", :action=>"new" %></div>
</div>
