<% @title = "ソースのダウンロード" %>
<h3>ソース公開にあたって</h3>
<div class="download">
<p>Smillie! で動作しているプログラムソースを公開します。稚拙な部分もあるかと思いますが、これから Web サービスを始められる方などの少しでも参考になれば幸いです。</p>
<p>なおソースコードの内容に関するお問い合わせには、答えかねられる場合がありますことをご了承ください。</p>
</div>
<h3>ライセンス</h3>
<div class="download">
<ul>
<li>ActionScript 部分 (スライドショー) : <a href="http://creativecommons.org/licenses/by-nc/3.0/deed.ja">Creative Commons Attribution-NonCommercial 3.0 License</a></li>
<li>Ruby on Rails 部分 : <a href="http://www.opensource.org/licenses/mit-license.php">Open Source Initiative OSI - The MIT License:Licensing</a></li>
</ul>
</div>
<h3>ダウンロード</h3>
<div class="download">
<h4>Subversion</h4>
<pre>
svn export http://smillie.jp/svn/smillie/trunk/
</pre>

<h4>trac</h4>
<pre>
<a href="http://smillie.jp/trac/smillie/" target="_blank">http://smillie.jp/trac/smillie/</a>
</pre>
</div>
<h3>Special Thanks to</h3>
<div class="download">
<p>以下のプラグイン、プログラムにお世話になっています。</p>
<ul>
<li><a href="http://jpmobile-rails.org/" target="_blank">jpmobile</a></li>
<li><a href="http://rspec.info/" target="_blank">rspec</a></li>
<li>validates_email_format_of</li>
<li>will_paginate</li>
<li>gettext</li>
<li><a href="http://no3dfx.com/polaroid/" target="_blank">Poraloid Gallery v.1.01</a> : スライドショーの Flash<li>
<li>Nobuhiko Ohtsuki : トップページの写真の提供</a><li>
</ul>
</div>