development:
  adapter: postgresql
  encoding: utf8
  database: smillie_dev
  username: root
  password:
  host: localhost

test:
  adapter: postgresql
  encoding: utf8
  database: smillie_test
  username: root
  password:
  host: localhost
