<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title>The page you were looking for doesn't exist (404)</title>
	<style type="text/css">
		body { background-color: #fff; color: #666; font-family: arial, sans-serif;
      background:url(/images/dot.png) 0 0 repeat;
      margin: 0;
      padding: 0;
      font-size: 90%;
		}
    h1{
      background:url(/images/smillie_png.png) 0 0 no-repeat;
      width: 295px;
      height: 70px;
      display: block;
      margin: auto;
      float:left; width: 300px;}
    #logo{width: 700px; margin: 30px 50px;}
    #message{float:left; margin-left: 20px;}
    h2, h3{margin: 0;}
    h3{ font-size: 85%;}
    span{display: none;}
    #body{width: 800px; margin: 0 auto; background-color: #FFF;height:500px;border:1px solid #FFF}
		ul{text-align:left;margin: 100px 30px 220px 30px;}
		li{margin-bottom: 10px}
		.clear{clear:both;}
		#footer{border-top: 1px dotted #DADADA;padding: 10px;text-align:center;font-size: 85%;}
	</style>
</head>

<body>
  <!-- This file lives in public/404.html -->
  <div id="wrapper">
  <div id="body">
  <div id="logo">
    <h1><span>Smillie!</span></h1>
    <div id="message">
    <h2>404 ErrorFile Not Found</h2>
    <h3>指定されたページ（URL）は見つかりません。</h3>
    </div>
  </div>
  <div class="clear"></div>
  <div id="contents">
    <ul>
    <li>URL に間違いがないか、再度確認してください。</li>
    <li>疑問点等ございましたらお問合せください。</li>
    </ul>
    </div>
    <div id="footer">
    Copyright &copy; 2007 tinymonks. All Rights Reserved.
    </div>
    </div>
    </div>
</body>
</html>